<div class="header">
  <button (click)="runWorkflow()" class="run-button">Run</button>
  <button (click)="exportWorkflow()" class="run-button">Export Workflow</button>
  <button (click)="triggerFileInput()" class="run-button">Import Workflow</button>
  <input type="file" (change)="onFileSelected($event)" accept=".json" class="import-button" style="display: none;" #fileInput>
  <button (click)="clearWorkflow()" class="run-button">Clear</button>
</div>
<div class="container">
  <div class="sidebar"> 
    <h1 style="font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: 700;">Nodes List</h1>
    <ul id="draggable-list">
      <li *ngFor="let item of items; let i = index" class="draggable-item" draggable="true" [attr.data-node-name]="item.name" [attr.data-index]="i">
        {{ item.name }}
        <button class="edit-button" (click)="openEditDialog(i)" style="color: rgb(104, 197, 197); background-color: rgb(67, 67, 67);">
           Edit
        </button>
      </li>
    </ul>
    <button mat-button (click)="openDialog()" class="add-button" style="color: rgb(104, 197, 197); background-color: rgb(67, 67, 67);">Add Node</button>
  </div>
  <div id="drawflow" #drawflow></div>
</div>