<h2 mat-dialog-title>{{ data.mode === 'edit' ? 'Edit Node' : 'Enter Node Name' }}</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Node Name</mat-label>
    <input matInput [(ngModel)]="data.name">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Parameters</mat-label>
    <textarea matInput [(ngModel)]="data.params"></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onCancel()">Cancel</button>
  <button mat-button *ngIf="data.mode === 'edit'" (click)="onDelete()">Delete</button>
  <button mat-button (click)="onCreate()">{{ data.mode === 'edit' ? 'Save' : 'Create' }}</button>
</mat-dialog-actions>